%carousel {
  @include centerElement;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

%carousel-slide {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 90%;
    max-height: 90%;
    display: block;
  }
}
