    // Productos

    .menu {
        ul {
          list-style: none;
          padding: 45px;
          margin: 2px;
          display: flex;
          overflow-x: auto;
          width: $menu-width;
          white-space: normal;
      
          li {
            width: $item-width;
            img {
              width: 100%;
              height: auto;
              display: block;
            }
          }
        }
      }
      
      
      @mixin responsive-menu {
        @media (max-width: 768px) {
          .menu {
            ul {
              width: 100%;
              li {
                width: 25%; 
              }
            }
          }
        }
      
        @media (max-width: 480px) {
          .menu {
            ul {
              li {
                width: 50%; 
              }
            }
          }
        }
      }
      
      
      @include responsive-menu;
      
  
  
  .rounded2 { height: 100px;
    width: 1640px;
    text-align: center;
    
    }
  
    .menu {
      margin-top: 20px;
    
      .col-md-3, .col-sm-6 {
        padding: 5px;
    
        img {
          width: 100%;
          border: 2px solid transparent;
          transition: transform 0.3s ease-in-out;
        }
    
        &:hover img {
          transform: scale(1.1);
          border: 2px solid #007bff;
        }
      }
    }
  
  // Boton de descarga
  .container32 {
    text-align: center;
    padding: 20px;
  }

  .download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .download-button:hover {
    background-color: #2980b9;
  }

  @media (max-width: 768px) {
    .download-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }