// Variables
$primary-color: #E4CF95;
$secondary-color: #FCDA92;
$highlight-color: #007bff;
$menu-width: 100%;
$item-width: 12.5%; 
$carousel-width: 100%;
$carousel-height: 300px;
$transition-duration: 0.3s;
