.navbar {
    background-color: $color-primary;
  
    .navbar-brand {
      font-size: 24px;
    }
  
    .nav-link {
      color: $color-white;
      &.active {
        font-weight: bold;
      }
    }
  }
  .navbar-nav .navbar-brand {
      font-size: 200%;
  }
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f0f0f0;
    
      // Estilos para el logo
      .logo {
        img {
          width: $logo-width;
          height: auto;
          display: block;
        }
      }
    }
    
    // Media query para el tamaño responsive del logotipo
    @media screen and (max-width: 768px) {
      .header {
        .logo {
          img {
            width: 100px; // Ajusta el tamaño del logotipo para pantallas más pequeñas
          }
        }
      }
    }
    .header {
      background-color: $color-primary;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .logo {
        a {
          color: $color-white;
          font-size: 24px;
          text-decoration: none;
        }
      }
    
      .nav-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
    
        .bar {
          width: 30px;
          height: 3px;
          background-color: $color-white;
          margin: 4px;
        }
      }
    
      .navbar {
        display: flex;
        align-items: center;
    
        a {
          color: $color-white;
          text-decoration: none;
          padding: 10px;
          margin-left: 10px;
    
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    
    // Media query para dispositivos móviles
    @media screen and (max-width: $breakpoint-mobile) {
      .header {
        .navbar {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          background-color: $color-primary;
    
          a {
            margin-left: 0;
            width: 100%;
            text-align: center;
          }
        }
    
        .nav-toggle {
          display: flex;
        }
    
        .navbar.active {
          display: flex;
        }
      }
    }
    // Estilos personalizados para la presentación
.presentation {
    text-align: center;
    padding: 20px;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    
  
    img {
      max-width: 100%;
      border-radius: 10px;
      margin-bottom: 30px;
    }
  
    .caption {
      h2 {
        font-size: 38px;
        margin-bottom: 32px;
        
      }
      p {
        font-size: 38px;
      }
    }
  }
  .presentacion{
    width: 450px;
    height: 200px;

  }
  
  body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }